@using EmployeeCare.Resources;
@{
    ViewBag.Title = ar.main_page;
}

<div class="container">
    <div class="col-12">
        <h1>نظام ادارة جمعيه رعايه العاملين بقطاع التعمير</h1>
    </div>
    <div class="col-12">
        <img src="~/Images/dashboard.jpg" />
    </div>
</div>


